<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>

<div id="meesages">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>

{% if object_list.count is 0 %}
    <p>データなし</p>
{% endif %}

<a href="{% url 'upload' %}">
    <button>アップロード</button>
</a>
<a href="{% url 'form_upload' %}">
    <button>フォームでアップロード</button>
</a>
<hr>

{% for object in object_list %}
    <p>ID: {{ object.id }}</p>
    <p>ファイル名: {{ object.file }}</p>
    {% if object.file %}
        <a href="{{ object.file.url }}" target="_blank">
            <img src="{{ object.file.url }}" alt="" height="100">
        </a>
    {% endif %}

    <p>ダウンロード時に使うファイル名: {{ object.file_name }}</p>
    <p>製造番号: {{ object.serial_number }}</p>
    <a href="{% url 'update' object.id %}">
        <button>更新</button>
    </a>
    <a href="{% url 'delete' object.id %}">
        <button>削除</button>
    </a>
    <a href="{% url 'delete_func' object.id %}">いきなり削除</a>
    <a href="{% url 'download' object.id %}">
        <button>ダウンロード</button>
    </a>
    <hr>
{% endfor %}
</body>
</html>